body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #55b6e0;
}

.container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.usage-instructions {
    flex: 1;
    padding: 40px;
    background-color: #0bc7b1;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.usage-instructions h2 {
    margin-top: 0;
}

.usage-instructions ul {
    list-style: disc;
    padding-left: 20px;
}

.converter {
    flex: 1;
    padding: 20px;
    background-color: #f8afe4;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.converter h1 {
    margin-top: 0;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 6px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}